<template>
  <ux-grid fluid>
    <ux-grid-cell sm="6" lg="8">
      <h1 class="section-title">
        &lt;ux-datepicker&gt;&lt;/ux-datepicker&gt;
      </h1>
      <h2><em>todo: description, usage</em></h2>

      <p>
        <strong>Package:</strong> @aurelia-ux/datepicker
      </p>

      <p>
        <strong>Also in:</strong> @aurelia-ux/components
      </p>

      <p>
        The <code>ux-datepicker</code> allows the user to select a date from a calendar.
      </p>

    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <strong>Date</strong>

      <ux-card>
        <div class="component-demo">
          <div style="width: 100%">
            <ux-form>
              <ux-datepicker placeholder="Enter date"
                             type="date"
                             value.two-way="dateValue"
                             initial-date.bind="initial"
                             ref="dateElement"></ux-datepicker>
            </ux-form>
          </div>
        </div>
        <ux-card-content>
          <strong>Date entered:</strong> ${dateValue | dateTimeFormat:'LL'}
        </ux-card-content>
      </ux-card>

      <br>
      <strong>Datetime</strong>

      <ux-card>
        <div class="component-demo">
          <div style="width: 100%">
            <ux-form>
              <ux-datepicker type="datetime"
                             placeholder="Enter date"
                             value.bind="dateTimeValue"
                             ref="datetimeElement"></ux-datepicker>
            </ux-form>
          </div>
        </div>
        <ux-card-content>
          <strong>Date entered:</strong> ${dateTimeValue | dateTimeFormat:'LLL'}
        </ux-card-content>
      </ux-card>

      <br>
      <strong>Time</strong>

      <ux-card>
        <div class="component-demo">
          <div style="width: 100%">
            <ux-form>
              <ux-datepicker type="time"
                             placeholder="Enter time"
                             value.bind="timeValue"
                             ref="timeElement"></ux-datepicker>
            </ux-form>
          </div>
        </div>
        <ux-card-content>
          <strong>Time entered:</strong> ${timeValue | dateTimeFormat:'LT'}
        </ux-card-content>
      </ux-card>

    </ux-grid-cell>
  </ux-grid>

</template>
