<template>
  <ux-grid fluid>
    <ux-grid-cell sm="6" lg="8">
      <h1 class="section-title">
        &lt;ux-select&gt;&lt;/ux-select&gt;
      </h1>
      <h2><em>todo: description, multiple selection, usage</em></h2>

      <p>
        <strong>Package:</strong> @aurelia-ux/select
      </p>

      <p>
        <strong>Also in:</strong> @aurelia-ux/components
      </p>

      <p>
        The <code>ux-select</code> allows the user to select options from a set.
      </p>

    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <strong>Bind to String</strong>

      <ux-card>
        <div class="component-demo">
          <div style="width: 100%">
            <ux-form>
              <ux-select placeholder.bind="'Select your product'"
                         change.delegate="selectedStringProducts = $event.target.value">
                  <ux-option text.bind="product"
                             repeat.for="product of products"></ux-option>
              </ux-select>
            </ux-form>
          </div>
        </div>
        <ux-card-content>
          <strong>Selected Products:</strong> ${selectedStringProducts}
        </ux-card-content>
      </ux-card>

      <br>
      <strong>Bind to Object</strong>

      <ux-card>
        <div class="component-demo">
          <div style="width: 100%">
            <ux-form>
              <ux-select placeholder.bind="'Select your product'"
                         change.delegate="selectedProductObjects = productObjects[$event.target.value]">
                <ux-option text.bind="product.name"
                           value.bind="product.id"
                           repeat.for="product of productObjects"></ux-option>
              </ux-select>
            </ux-form>
          </div>
        </div>
        <ux-card-content>
          <strong>Selected Products:</strong> ${selectedProductObjects.id} - ${selectedProductObjects.name}
        </ux-card-content>
      </ux-card>

    </ux-grid-cell>
  </ux-grid>

</template>
