<template>
  <ux-grid fluid>
    <ux-grid-cell sm="6" lg="8">
      <h1 class="section-title">
        &lt;ux-slider&gt;&lt;/ux-slider&gt;
      </h1>

      <p>
        <strong>Package:</strong> @aurelia-ux/slider
      </p>

      <p>
        <strong>Also in:</strong> @aurelia-ux/components
      </p>

      <ux-slider value="10" min="0" max="50" style="width: 100%"></ux-slider> Enabled
      <br>
      <ux-slider value="10" min="0" max="50" disabled="true" style="width: 100%"></ux-slider> Disabled

    </ux-grid-cell>

    <ux-grid-cell sm="6" lg="4">
      <strong>Binding (todo)</strong>

      <ux-card>
        <code-block type="html">
          &lt;ux-slider min="0" max="50" value.bind="myValue"&gt;&lt;/ux-slider&gt;
        </code-block>
      </ux-card>
    </ux-grid-cell>
  </ux-grid>
</template>
